/* Giving styles to header content. */
header {
    background-color: green;
    padding-top: 2em;
    padding-bottom: 2em;
}

.cabecera {
    color: white;
    text-align: center;
}

/* Giving styles to text inside the header. */
h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span {
    padding: 0.5em;
}