/* Centering all the text in the body. */
body {
  text-align: center;
}

/* Giving styles to header content. */
header {
  background-color: green;
  padding-top: 2em;
  padding-bottom: 2em;
}

.cabecera {
  color: white;
}

/* Giving styles to text inside the header. */
h1 {
  font-size: xx-large;
  font-weight: bolder;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

span {
  padding: 0.5em;
}

/* Giving styles to body content. */
.contenedor {
  display: inline-flex;
}

.tarjeta {
  background-color: gainsboro;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em;
}

img {
  height: 150px;
  padding-bottom: 1em;
}

h2,
h4 {
  font-size: medium;
  font-weight: bold;
}

p {
  font-size: x-small;
  padding-top: 1em;
}

.aviso {
  padding-top: 1em;
  padding-bottom: 1em;
}
